services:
    web:
        build: .
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        ports:
            - "8080:80"
        depends_on:
            - db
        environment:
            APACHE_DOCUMENT_ROOT: /var/www/html/public

    db:
        image: mariadb:10.4.32
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: e-commerce-project
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        restart: always
        ports:
            - "8081:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root
            UPLOAD_LIMIT: 256M
volumes:
    db_data:
